.background{
    -fx-background-color:#F1FFFF;
}
.button{
    -fx-background-color: #638989;
}

.button:hover{
    -fx-translate-y: 3px;
    -fx-opacity: 0.7;
}

.nav-bar{
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color:#638989;
    -fx-border-radius:30px;
}
.link{
    -fx-background-color:transparent;
}

.button-outline{
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color:#638989;
    -fx-border-radius: 30px;
}

.scroll-pane{
    -fx-background-color:#F1FFFF ;
}

.scroll-pane .scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-pref-width:10px;
}

/*used ai to identify how to modify the thumb*/
.scroll-pane .scroll-bar .thumb{
    -fx-background-color: #638989;
    -fx-background-radius: 6px;
}