.background{
    -fx-background-color:#F1FFFF;
}

.menu-bar{
    -fx-background-color: #F1FFFF;
    -fx-text-fill:#355e59 ;
}

.menu-bar .menu:hover .label {
    -fx-text-fill: #355e59;
}

.menu-bar .menu:showing .label {
    -fx-text-fill: #355e59;
}

.button{
    -fx-background-color: #638989;
}

.button:hover{
    -fx-translate-y: 3px;
    -fx-opacity: 0.7;
}

.input{
    -fx-background-color: transparent;
    -fx-border-color: #638989;
    -fx-border-width: 1px;
    -fx-prompt-text-fill: #638989 ;
}

.nav-bar{
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color:#638989;
    -fx-border-radius:30px;
}
.link{
    -fx-background-color:transparent;
}

.button-outline{
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color:#638989;
    -fx-border-radius: 30px;
}

.scroll-pane{
    -fx-background-color:#F1FFFF ;
}

.scroll-pane .scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-pref-width:10px;
}

/*used ai to identify how to modify the thumb*/
.scroll-pane .scroll-bar .thumb{
    -fx-background-color: #638989;
    -fx-background-radius: 6px;
}

.search-bar{
    -fx-background-color: transparent;
    -fx-border-color: #638989;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
    -fx-prompt-text-fill: #638989 ;
}

.bottom-border-input, .choice-box{
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #638989 transparent;
    -fx-border-width:2px;
    -fx-prompt-text-fill:#638989;
}

.table-view{
    -fx-background-color:transparent;
}

.table-view .column-header{
    -fx-background-color:#638989;
}

.table-view .column-header .label{
    -fx-text-fill:#F1FFFF;
}

.menu-button{
    -fx-background-color: transparent;
}

.menu-item{
    -fx-text-fill:#638989;
    -fx-background-color: #f1ffff;
}

.menu-item:hover{
    -fx-background-color: #9fc6c6;
}

.menu-item:hover .label{
    -fx-text-fill: #0b4040;
}

.menu-item:focused .label {
    -fx-text-fill: #0b4040;
}

.red-menu-item{
    -fx-background-color: #bd0e0e;
}

.red-menu-item .label{
    -fx-text-fill: #f1ffff;
}

.red-menu-item:hover{
    -fx-background-color: #730606;
}

.red-menu-item:hover .label{
    -fx-text-fill: #b9bfbf;
}

.red-menu-item:focused .label {
    -fx-text-fill: #b9bfbf;
}

.default-color0.chart-pie{
    -fx-pie-color: #8daaaa
}

.default-color1.chart-pie{
    -fx-pie-color: #4d7373
}

.default-color2.chart-pie{
    -fx-pie-color: #366060
}

.default-color3.chart-pie{
    -fx-pie-color: #4d7373
}

.dialog-pane {
    -fx-background-color: #f1ffff;
}
.dialog-pane .label {
    -fx-text-fill: #355e59;
}
.dialog-pane:header .header-panel {
    -fx-background-color: #f1ffff;
}
.dialog-pane:header .header-panel .label {
    -fx-font-style: italic;
    -fx-font-size: 2em;
}